.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureEmoji {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  margin: 0 auto;
}